*{
    box-sizing: border-box;
 padding: 0;
 margin: 0;   
font-family: "poppins", sans-serif;
}

body{

background-image: url(../assets/image\ copy\ 3.png);
background-repeat: no-repeat;
background-size: cover;

}
header img {


max-width: 3.8rem;
border-radius: 15rem;

}
nav{
    display: flex;
list-style: none;
gap: 15rem;
justify-content: center;
font-size: 40px;
}

li a{
text-decoration: none;
color: black;


}

h1{
    align-items: center;
    font-size: 70px;
    margin-top: 32rem;
    color: yellow;
}
p{
    color: white;
    font-size: 40px;
}
